@charset "UTF-8";
/* normal */
@font-face {
  font-family: "IBMPlexSansJP";
  src: url("../fonts/IBMPlexSansJP-Regular.ttf") format("truetype");
  font-weight: normal;
}
/* bold */
@font-face {
  font-family: "IBMPlexSansJP";
  src: url("../fontsIBMPlexSansJP-Bold.ttf") format("truetype");
  font-weight: bold;
}
/* light */
@font-face {
  font-family: "IBMPlexSansJP";
  src: url("../fonts/IBMPlexSansJP-ExtraLight.ttf") format("truetype");
  font-style: light;
}
/* 英数 */
@font-face {
  font-family: "Arsenal-Regular";
  src: url("../fonts/Arsenal-Regular.ttf") format("truetype");
}
* {
  word-break: break-word;
  box-sizing: border-box;
}

body {
  font-family: "IBMPlexSansJP", "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: bold;
  line-height: 1.8;
  letter-spacing: 0.1em;
}

p {
  font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem);
  color: #080808;
}

a {
  font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem);
  color: #080808;
  transition: all 0.3s;
}
a:hover {
  cursor: pointer;
}

a:hover {
  opacity: 0.5;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

ul,
ol,
li {
  list-style: none;
  font-size: clamp(0.813rem, 0.79rem + 0.11vw, 0.875rem);
}

.pc-block {
  display: block;
}
@media (max-width: 820px) {
  .pc-block {
    display: none;
  }
}

.sp-block {
  display: none;
}
@media (max-width: 820px) {
  .sp-block {
    display: block;
  }
}

.main {
  margin: 80px 0 0;
}
@media (max-width: 820px) {
  .main {
    margin: 58px 0 0 0;
  }
}
.main__section-inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 80px 12px;
}
@media (max-width: 600px) {
  .main__section-inner {
    padding: 40px 20px;
  }
}

.fade-in-js {
  transform: scale(0.9);
  transition: all 0.5s 0s linear;
  opacity: 0;
}
.fade-in-js.action {
  transform: scale(1);
  opacity: 1;
}

.fadeIn-anime01 {
  animation-name: fadeInAnime;
  animation-delay: 0.7s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slick-dots li.slick-active button:before {
  color: #1b1464 !important;
  opacity: 1 !important;
}

.page-ttl {
  font-family: "Arsenal-Regular", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
  text-align: center;
  font-size: clamp(1.625rem, 1.398rem + 1.14vw, 2.25rem);
  letter-spacing: 0.01em;
  margin: 0 0 12px;
  line-height: 1;
  color: #9fa0a0;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
.page-ttl--concept {
  color: #41809a;
}
.page-ttl--menu {
  color: #b17f8c;
}
.page-ttl--access {
  color: #a9917b;
}
.page-ttl--dezakure {
  color: #232323;
}

.page-subttl {
  text-align: center;
}

.btn-style {
  display: block;
  background-color: #8a8a8a;
  width: 280px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  padding: 12px 4px;
  position: relative;
}
.btn-style::before {
  content: "";
  width: 8px;
  height: 8px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
  font-size: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%) rotate(45deg);
  transition: all 0.5s;
}
.btn-style:hover::before {
  right: 10px;
}
.btn-style--menu {
  background-color: #b17f8c;
}
.btn-style__span {
  font-family: "Arsenal-Regular", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
  display: block;
  font-size: 14px;
}

.works-style__block {
  margin: 0 0 60px;
}
.works-style .aligncenter {
  display: block;
  margin: 0 auto;
}
.works-style .alignright {
  display: block;
  margin-left: auto;
}
.works-style p {
  margin: 0 0 12px;
}
.works-style h2 {
  font-size: 20px;
  margin: 24px 0 20px;
  font-weight: bold;
  border: 1px solid #949494;
  background-color: #fff;
  display: inline-block;
  padding: 0 8px;
}
@media (max-width: 600px) {
  .works-style h2 {
    font-size: 16px;
  }
}
.works-style h3 {
  font-size: 18px;
  margin: 24px 0 16px;
  font-weight: bold;
}
@media (max-width: 600px) {
  .works-style h3 {
    font-size: 16px;
  }
}
.works-style a {
  text-decoration: underline;
}
.works-style ol {
  margin: 0 0 12px 24px;
  line-height: 24px;
}
.works-style ol li {
  font-size: 18px;
  list-style: decimal;
}
.works-style ul {
  margin: 0 0 12px 24px;
  line-height: 24px;
}
.works-style ul li {
  font-size: 18px;
  list-style: disc;
}
.works-style li {
  font-size: 18px;
}

.page-style section {
  padding: 80px 12px;
}
@media (max-width: 820px) {
  .page-style section {
    padding: 40px 12px;
  }
}
.page-style .inner {
  max-width: 1120px;
  margin: 0 auto;
}
.page-style .ttl-bottom {
  text-align: center;
  margin: 0 0 80px;
}
@media (max-width: 820px) {
  .page-style .ttl-bottom {
    margin: 0 0 40px;
  }
}
.page-style .link-btn {
  text-decoration: none;
  display: block;
  background-color: #8a8a8a;
  width: 280px;
  margin: 0 auto 0;
  color: #fff;
  text-align: center;
  padding: 12px 4px;
  position: relative;
}
.page-style .link-btn::before {
  content: "";
  width: 8px;
  height: 8px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
  font-size: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%) rotate(45deg);
  transition: all 0.5s;
}
.page-style .link-btn:hover::before {
  right: 10px;
}
.page-style section {
  padding: 80px 12px;
}
@media (max-width: 820px) {
  .page-style section {
    padding: 40px 12px;
  }
}
.page-style h1 {
  font-family: "Arsenal-Regular", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
  text-align: center;
  font-size: clamp(1.625rem, 1.398rem + 1.14vw, 2.25rem);
  letter-spacing: 0.01em;
  margin: 0 0 12px;
  line-height: 1;
  color: #9fa0a0;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
.page-style .aligncenter {
  display: block;
  margin: 0 auto;
}
.page-style .alignright {
  display: block;
  margin-left: auto;
}
.page-style p {
  margin: 0 0 12px;
}
.page-style h2 {
  font-size: 20px;
  margin: 24px 0 20px;
  font-weight: bold;
  border: 1px solid #949494;
  background-color: #fff;
  display: inline-block;
  padding: 0 8px;
}
@media (max-width: 600px) {
  .page-style h2 {
    font-size: 16px;
  }
}
.page-style h3 {
  font-size: 18px;
  margin: 24px 0 16px;
  font-weight: bold;
}
@media (max-width: 600px) {
  .page-style h3 {
    font-size: 16px;
  }
}
.page-style a {
  text-decoration: underline;
}
.page-style ol {
  margin: 0 0 12px 24px;
  line-height: 24px;
}
.page-style ol li {
  font-size: 18px;
  list-style: decimal;
}
.page-style ul {
  margin: 0 0 12px 24px;
  line-height: 24px;
}
.page-style ul li {
  font-size: 18px;
  list-style: disc;
}
.page-style li {
  font-size: 18px;
}

/* =================================
header
 ================================= */
.wrap-header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  transition: transform 0.3s;
}
.wrap-header.is-hide {
  transform: translateY(-100%);
}

.header {
  background-color: #fff;
  position: fixed;
}
@media (max-width: 820px) {
  .header {
    border-bottom: 1px #8a8a8a solid;
  }
}
.header__breadcrumb {
  font-size: 12px;
  margin: 0 auto;
  color: #777777;
  position: absolute;
  bottom: -34px;
  left: 15%;
  transform: translateX(-50%);
}
@media screen and (max-width: 1400px) {
  .header__breadcrumb {
    left: 12px;
    transform: translateX(0);
  }
}
@media (max-width: 820px) {
  .header__breadcrumb {
    bottom: -30px;
  }
}
.header__inner {
  padding: 20px 60px 20px;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1350px) {
  .header__inner {
    padding: 16px 8px 16px;
  }
}
@media (max-width: 600px) {
  .header__inner {
    padding: 4px 8px;
  }
}
.header__ttl {
  max-width: 280px;
}
@media screen and (max-width: 1550px) {
  .header__ttl {
    width: 260px;
  }
}
@media screen and (max-width: 1250px) {
  .header__ttl {
    width: 220px;
  }
}
@media (max-width: 820px) {
  .header__ttl {
    max-width: 180px;
  }
}
.header__nav-list {
  max-width: 900px;
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
}
@media (max-width: 1120px) {
  .header__nav-list {
    position: initial;
    transform: translate(0, 0);
  }
}
@media (max-width: 820px) {
  .header__nav-list {
    display: none;
  }
}
.header__nav-item {
  text-align: center;
  width: 120px;
}
@media screen and (max-width: 1250px) {
  .header__nav-item {
    width: 108px;
  }
}
.header__nav-link {
  position: relative;
  display: block;
  font-size: 18px;
  letter-spacing: 0.02em;
  padding: 4px 0 4px 0.5em;
  line-height: 13px;
}
.header__open-btn {
  position: relative;
  z-index: 999;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: none;
  /*.active が付与された時の挙動*/
}
@media (max-width: 820px) {
  .header__open-btn {
    display: block;
  }
}
.header__open-btn span {
  display: inline-block;
  transition: all 0.4s;
  /*アニメーションの設定*/
  position: absolute;
  left: 11px;
  height: 2px;
  border-radius: 5px;
  background: #000;
  width: 65%;
}
.header__open-btn span:nth-of-type(1) {
  top: 13px;
}
.header__open-btn span:nth-of-type(2) {
  top: 23px;
}
.header__open-btn span:nth-of-type(3) {
  top: 33px;
}
.header__open-btn.active span:nth-of-type(1) {
  top: 14px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 60%;
}
.header__open-btn.active.active span:nth-of-type(2) {
  opacity: 0;
}
.header__open-btn.active span:nth-of-type(3) {
  top: 26px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 60%;
}
.header__open-btn.active span:nth-of-type(3)::after {
  display: none;
}

.header-sp {
  position: fixed;
  z-index: 99;
  top: 0;
  right: -120%;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  transition: all 0.6s;
}
.header-sp.open-menu {
  right: 0;
}
.header-sp__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-sp__time {
  text-align: center;
  margin: 0 0 40px;
}
.header-sp__nav-list {
  margin: 0 0 40px;
}
.header-sp__nav-item {
  margin: 0 0 24px;
}

/* =================================
footer
 ================================= */
.footer {
  background-color: #0a025e;
  padding: 40px 8px 0;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 940px;
  margin: 0 auto 40px;
  position: relative;
}
@media (max-width: 820px) {
  .footer__top {
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 0 32px;
  }
}
.footer__ttl {
  max-width: 300px;
}
.footer__logo {
  display: block;
  margin: 0 0 24px;
}
@media (max-width: 600px) {
  .footer__logo {
    margin: 0 0 12px;
  }
}
.footer__tel {
  display: block;
  color: #fff;
}
.footer__tel-span {
  font-size: 12px;
}
.footer__address {
  font-size: 12px;
  display: block;
  color: #fff;
}
.footer__menu {
  display: flex;
  gap: 12px;
}
@media (max-width: 1120px) {
  .footer__menu {
    flex-direction: column;
  }
}
.footer__sns {
  display: flex;
  gap: 12px;
  padding: 6px 48px 0;
}
@media (max-width: 820px) {
  .footer__sns {
    padding: 6px 24px 0;
  }
}
.footer__sns-item {
  width: 18px;
}
.footer__sns-item i {
  color: #fff;
}
.footer__nev {
  display: flex;
  justify-content: center;
  margin: 0 0 24px;
}
@media (max-width: 1120px) {
  .footer__nev {
    margin: 12px 0 24px;
  }
}
@media (max-width: 820px) {
  .footer__nev {
    flex-wrap: wrap;
  }
}
.footer__nav-item {
  border-left: 1px solid #fff;
  padding: 0 16px;
  line-height: 18px;
  font-size: 13px;
  color: #fff;
}
@media (max-width: 1120px) {
  .footer__nav-item {
    padding: 0 8px;
  }
}
@media (max-width: 820px) {
  .footer__nav-item {
    margin: 0 0 6px;
  }
}
.footer__nav-item:last-child {
  border-right: 1px solid #fff;
}
@media (max-width: 600px) {
  .footer__nav-item:last-child {
    border: none;
  }
}
@media (max-width: 600px) {
  .footer__nav-item {
    border: none;
  }
}
.footer__bottom {
  border-top: 1px solid #777777;
  padding: 12px 0;
}
@media (max-width: 820px) {
  .footer__bottom {
    padding: 12px 0 90px;
  }
}
@media (max-width: 600px) {
  .footer__bottom {
    padding: 12px 0 60px;
  }
}
.footer__coppy {
  text-align: center;
  font-size: 12px;
  color: #fff;
}
.footer__sp-menu {
  display: none;
}
@media (max-width: 820px) {
  .footer__sp-menu {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
.footer__sp-menu a:hover {
  opacity: 1;
}
.footer__scroll-btn {
  cursor: pointer;
  position: fixed;
  bottom: 4px;
  right: 4px;
  display: inline-block;
  background-color: rgba(238, 238, 238, 0.692);
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
}
.footer__scroll-btn i {
  font-size: 24px;
  color: rgb(109, 108, 108);
  display: inline-block;
  line-height: 20px;
}
@media (max-width: 820px) {
  .footer__scroll-btn {
    display: none;
  }
}

/* =================================
page-top
 ================================= */
.page-top__section {
  padding: 80px 12px;
}
@media (max-width: 820px) {
  .page-top__section {
    padding: 40px 12px;
  }
}
.page-top__section-ttl {
  font-family: "Arsenal-Regular", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
  text-align: center;
  font-size: clamp(1.625rem, 1.398rem + 1.14vw, 2.25rem);
  letter-spacing: 0.01em;
  margin: 0 0 12px;
  line-height: 1;
  color: #9fa0a0;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
.page-top__section-ttl--concept {
  color: #41809a;
}
.page-top__section-ttl--menu {
  color: #b17f8c;
}
.page-top__section-ttl--access {
  color: #a9917b;
}
.page-top__section-subttl {
  text-align: center;
  margin: 0 0 80px;
}
@media (max-width: 820px) {
  .page-top__section-subttl {
    margin: 0 0 40px;
  }
}

/* =================================
main-visual
 ================================= */
.main-visual__img {
  max-width: 580px;
  margin: 0 auto;
  padding: 80px 24px;
}
@media (max-width: 820px) {
  .main-visual__img {
    padding: 40px 24px;
    max-width: 280px;
  }
}

/* =================================
top-concept
 ================================= */
.top-concept {
  background-color: #c1d1db;
}
.top-concept__text {
  text-align: center;
}
@media (max-width: 820px) {
  .top-concept__text {
    text-align: left;
  }
}

/* =================================
top-order
 ================================= */
.top-order__box {
  display: flex;
  gap: 80px;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1120px) {
  .top-order__box {
    gap: 40px;
  }
}
@media (max-width: 820px) {
  .top-order__box {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
}
.top-order__item {
  width: calc(33.33% - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1120px) {
  .top-order__item {
    width: calc(33.33% - 20px);
  }
}
@media (max-width: 820px) {
  .top-order__item {
    width: 100%;
  }
}
.top-order__number {
  background: #9fa0a0;
  height: 72px;
  width: 72px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 15px;
  margin: 0 0 12px;
}
.top-order__number-inner {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 72px;
  text-align: center;
}
.top-order__number-span {
  font-size: 26px;
  line-height: 1;
}
.top-order__item-ttl {
  font-size: 22px;
}
@media (max-width: 1120px) {
  .top-order__item-ttl {
    font-size: 18px;
  }
}
.top-order__img-wrap {
  position: relative;
  height: 280px;
}
@media (max-width: 820px) {
  .top-order__img-wrap {
    height: 232px;
  }
}
.top-order__img {
  width: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top-order__img--2 {
  width: 160px;
}
.top-order__img--3 {
  width: 220px;
}
.top-order__text {
  max-width: 320px;
}
/* =================================
top-menu
 ================================= */
.top-menu {
  background-color: #e7d7df;
}
.top-menu__box {
  display: flex;
  max-width: 1080px;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  margin: 0 auto 40px;
}
@media (max-width: 820px) {
  .top-menu__box {
    gap: 20px;
    justify-content: space-around;
  }
}
.top-menu__item {
  width: calc(33.3333333333% - 40px);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  margin: 0 0 40px;
}
@media (max-width: 820px) {
  .top-menu__item {
    width: calc(50% - 40px);
    margin: 0 0 24px;
    gap: 12px;
  }
}
.top-menu__img {
  max-width: 220px;
}
.top-menu__subttl {
  text-align: center;
  font-size: 20px;
  line-height: 1;
}
@media (max-width: 600px) {
  .top-menu__subttl {
    font-size: 16px;
  }
}
.top-menu__span {
  display: block;
  font-family: "Arsenal-Regular", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
  font-size: 16px;
  margin: 8px 0 0;
}
@media (max-width: 600px) {
  .top-menu__span {
    font-size: 14px;
  }
}

/* =================================
top-works
 ================================= */
.top-works__box {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 60px;
  margin: 0 auto 60px;
}
@media (max-width: 820px) {
  .top-works__box {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}
.top-works__left {
  width: 40%;
  overflow: hidden;
  min-width: 340px;
}
@media (max-width: 820px) {
  .top-works__left {
    width: 100%;
    max-width: 400px;
    min-width: auto;
  }
}
.top-works__img-wrap {
  overflow: hidden;
}
.top-works__img {
  -o-object-fit: cover;
     object-fit: cover;
}
.top-works__subttl {
  text-align: center;
  font-size: 24px;
  margin: 0 0 40px;
}
@media (max-width: 600px) {
  .top-works__subttl {
    font-size: 20px;
  }
}
@media (max-width: 820px) {
  .top-works__right {
    width: 100%;
  }
}
.top-works__content {
  margin: 0 0 40px;
}
.top-works__right-btn {
  display: block;
  text-align: right;
  font-size: 14px;
  margin: 0 24px 0 0;
}
/* =================================
top-access
 ================================= */
.top-access {
  background-color: #dac7be;
}
.top-access__map-wrap {
  max-width: 980px;
  margin: 0 auto 40px;
}
.top-access__map {
  width: 100%;
  height: 0;
  position: relative;
  padding-top: 66.25%;
  overflow: hidden;
}
.top-access__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.top-access__text {
  text-align: center;
  line-height: 2;
}
@media (max-width: 820px) {
  .top-access__text {
    text-align: left;
    max-width: 300px;
    margin: 0 auto;
  }
}
@media (max-width: 820px) {
  .top-access__span {
    display: none;
  }
}

/* =================================
top-contact
 ================================= */
.top-contact__text {
  text-align: center;
  margin: 0 0 40px;
}

/* =================================
実績　詳細
 ================================= */
.single-works {
  background-color: #f8f8f8;
}
.single-works__section {
  padding: 20px 12px 80px;
}
@media (max-width: 820px) {
  .single-works__section {
    padding: 0px 12px 60px;
  }
}
.single-works__ttl {
  font-size: 28px;
  font-weight: 600;
  padding: 0 0 4px;
  margin: 0 0 12px;
  text-align: center;
  margin: 0 0 24px 0;
}
@media (max-width: 600px) {
  .single-works__ttl {
    font-size: 20px;
    margin: 0 0 12px 0;
  }
}
.single-works__lead {
  text-align: center;
  font-size: 15px;
  max-width: 540px;
  margin: 0 auto 12px;
}
.single-works__cat {
  text-align: center;
  margin: 0 0 80px;
}
@media (max-width: 600px) {
  .single-works__cat {
    margin: 0 0 40px;
  }
}
.single-works__cat-span {
  display: inline-block;
  background-color: #0a025e;
  color: #fff;
  padding: 0 8px;
  font-size: 16px;
}
@media (max-width: 600px) {
  .single-works__cat-span {
    font-size: 13px;
  }
}
.single-works__top-wrap {
  display: flex;
  gap: 40px;
  max-width: 1400px;
  margin: 0 auto 80px;
}
@media (max-width: 820px) {
  .single-works__top-wrap {
    flex-direction: column;
    margin: 0 auto 24px;
  }
}
.single-works__left {
  width: 50%;
}
@media (max-width: 820px) {
  .single-works__left {
    order: 1;
    width: 100%;
  }
}
.single-works__left .slick-dots li {
  width: 4px;
}
.single-works__left-img {
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.single-works__right {
  width: 50%;
}
@media (max-width: 820px) {
  .single-works__right {
    width: 100%;
    margin: 0 0 16px;
  }
}
.single-works__bottom-wrap {
  display: flex;
  gap: 12px;
  max-width: 1200px;
  margin: 0 auto 80px;
}
@media (max-width: 820px) {
  .single-works__bottom-wrap {
    flex-wrap: wrap;
    gap: 16px;
    margin: 0 auto 40px;
  }
}
.single-works__bottom-img {
  cursor: pointer;
  width: calc(25% - 8px);
  max-height: 180px;
  overflow: hidden;
}
@media (max-width: 600px) {
  .single-works__bottom-img {
    max-height: 150px;
  }
}
@media (max-width: 820px) {
  .single-works__bottom-img {
    width: calc(50% - 8px);
    margin: 0 0 16px;
  }
}
.single-works__bottom-img img {
  opacity: 0.5;
  -o-object-fit: cover;
     object-fit: cover;
}
.single-works__bottom-img.current img {
  opacity: 1;
}

/* =================================
実績一覧
 ================================= */
.archive-works {
  background-color: #f8f8f8;
  padding: 60px 0 0 0;
}
@media (max-width: 820px) {
  .archive-works {
    padding: 40px 0 0 0;
  }
}
.archive-works__section {
  padding: 80px 12px;
}
@media (max-width: 820px) {
  .archive-works__section {
    padding: 40px 12px;
  }
}
.archive-works__box {
  max-width: 1200px;
  margin: 0 auto 80px;
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}
@media (max-width: 1120px) {
  .archive-works__box {
    gap: 30px;
  }
}
@media (max-width: 820px) {
  .archive-works__box {
    flex-direction: column;
    align-items: center;
    margin: 0 auto 40px;
  }
}
.archive-works__item {
  background-color: #fff;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: calc(33.3333333333% - 40px);
}
@media (max-width: 1120px) {
  .archive-works__item {
    width: calc(33.3333333333% - 20px);
  }
}
@media (max-width: 820px) {
  .archive-works__item {
    width: 100%;
    max-width: 400px;
  }
}
.archive-works__img-wrap {
  overflow: hidden;
  width: 100%;
  height: 220px;
}
.archive-works__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.archive-works__img:hover {
  transform: scale(1.1);
}
.archive-works__cat {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0a025e;
  padding: 4px 8px;
  color: #fff;
  font-size: 12px;
}
.archive-works__item-ttl {
  padding: 12px 12px 0;
}
.archive-works__item-lead {
  padding: 12px;
  font-size: 14px;
}
.archive-works__pager {
  text-align: center;
}

/* =================================
LP（デザクレ）
 ================================= */
.page-dezakure__section {
  padding: 80px 12px;
}
@media (max-width: 820px) {
  .page-dezakure__section {
    padding: 40px 12px;
  }
}
.page-dezakure__ttl {
  margin: 0 0 80px;
}
@media (max-width: 820px) {
  .page-dezakure__ttl {
    margin: 0 0 40px;
  }
}

.original-button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #ffffff;
  font-size: 32px;
  border-radius: 0px;
  max-width: 480px;
  padding: 24px;
  font-weight: bold;
  border: 2px solid #333333;
  transition: 0.3s;
  box-shadow: 5px 5px 0px 0px rgb(109, 108, 108);
  background-color: #4282d6;
  margin: 0 auto;
}
@media (max-width: 820px) {
  .original-button {
    padding: 12px;
    font-size: 22px;
  }
}

.original-button:hover {
  box-shadow: 0 0 #333;
  color: #fff;
  background-color: #333;
}

.dezakure-main {
  background-color: #e7d7df;
}
.dezakure-concept__lead-text {
  margin: 0 0 60px;
  text-align: center;
  font-size: 22px;
}
@media (max-width: 820px) {
  .dezakure-concept__lead-text {
    font-size: 18px;
  }
}
.dezakure-concept__box {
  display: flex;
  gap: 80px;
  max-width: 1200px;
  margin: 0 auto 40px;
}
@media (max-width: 1120px) {
  .dezakure-concept__box {
    gap: 40px;
  }
}
@media (max-width: 820px) {
  .dezakure-concept__box {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
}
.dezakure-concept__item {
  width: calc(33.33% - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1120px) {
  .dezakure-concept__item {
    width: calc(33.33% - 20px);
  }
}
@media (max-width: 820px) {
  .dezakure-concept__item {
    width: 100%;
  }
}
.dezakure-concept__item-ttl {
  font-size: 20px;
  text-align: center;
  font-weight: 900;
}
@media (max-width: 1120px) {
  .dezakure-concept__item-ttl {
    font-size: 18px;
  }
}
.dezakure-concept__item-ttl-span {
  background: linear-gradient(transparent 60%, #f1c101 60%);
}
.dezakure-concept__img-wrap {
  position: relative;
  height: 280px;
}
@media (max-width: 820px) {
  .dezakure-concept__img-wrap {
    height: 232px;
  }
}
.dezakure-concept__img {
  width: 260px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dezakure-concept__img--2 {
  width: 160px;
}
.dezakure-concept__img--3 {
  width: 240px;
}
.dezakure-concept__text {
  max-width: 320px;
  font-size: 16px;
}
@media (max-width: 820px) {
  .dezakure-concept__text {
    font-size: 15px;
  }
}
.dezakure-concept__text-span {
  font-size: 14px;
  display: block;
  margin: 20px 0 0;
}

.dezakure-question {
  background-color: #c1d1db;
}
.dezakure-question__ttl {
  max-width: 800px;
  margin: 0 auto -10px;
}
.dezakure-question__list {
  background-color: #fff;
  max-width: 980px;
  margin: 0 auto;
  border-radius: 28px;
  padding: 28px;
}
@media (max-width: 820px) {
  .dezakure-question__list {
    border-radius: 16px;
    padding: 16px;
  }
}
.dezakure-question__list-item {
  font-size: 20px;
  position: relative;
  margin: 0 0 8px 30px;
}
@media (max-width: 820px) {
  .dezakure-question__list-item {
    font-size: 16px;
    margin: 0 0 8px 30px;
  }
}
.dezakure-question__list-item:before {
  content: "";
  background: url(../img/question-list.png) no-repeat;
  display: inline-block;
  width: 20px;
  /*画像の幅*/
  height: 20px;
  /*画像の高さ*/
  background-size: contain;
  vertical-align: middle;
  position: absolute;
  left: -27px;
  top: 9px;
}
@media (max-width: 820px) {
  .dezakure-question__list-item:before {
    top: 6px;
  }
}
.dezakure-solving {
  padding: 80px 12px 40px;
}
.dezakure-solving__text {
  font-size: 32px;
  position: relative;
  display: inline-block;
  padding: 0 30px;
}
@media (max-width: 820px) {
  .dezakure-solving__text {
    font-size: 18px;
    padding: 0 16px;
  }
}
.dezakure-solving__text:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 1px;
  height: 100%;
  background: #000;
  border-radius: 3px;
  transform: rotate(-25deg);
}
.dezakure-solving__text:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: #000;
  border-radius: 3px;
  transform: rotate(25deg);
}
.dezakure-solving__text-span {
  background: linear-gradient(transparent 60%, #f1c101 60%);
}
.dezakure-solving__text-wrap {
  text-align: center;
}
.dezakure-solving__img01 {
  max-width: 600px;
  margin: 28px auto 0;
}
.dezakure-solving__img02 {
  max-width: 1080px;
  margin: 28px auto 40px;
}

.dezakure-point__ttl {
  margin: 0 0 48px;
}
.dezakure-point__ttl-span {
  background: linear-gradient(transparent 60%, #f1c101 60%);
}
.dezakure-point__item {
  max-width: 900px;
  margin: 0 auto 60px;
}
.dezakure-point__item-ttl {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0 0 24px;
}
@media (max-width: 820px) {
  .dezakure-point__item-ttl {
    margin: 0 0 12px;
  }
}
.dezakure-point__item-ttl-img {
  width: 70px;
}
@media (max-width: 820px) {
  .dezakure-point__item-ttl-img {
    width: 50px;
  }
}
.dezakure-point__item-ttl-text {
  font-size: 28px;
}
@media (max-width: 820px) {
  .dezakure-point__item-ttl-text {
    font-size: 20px;
  }
}
.dezakure-point__item-text {
  margin: 0 0 0 60px;
}
.dezakure-point__item-span {
  color: #e53636;
}
.dezakure-point__text-wrap {
  max-width: 1280px;
  margin: 80px auto 40px;
}
@media (max-width: 600px) {
  .dezakure-point__text-wrap {
    margin: 40px auto;
  }
}
.dezakure-point__text {
  text-align: right;
  font-size: 14px;
}
@media (max-width: 600px) {
  .dezakure-point__text {
    text-align: left;
    font-size: 12px;
  }
}

.dezakure-comparison {
  background-color: #e7d7df;
}
.dezakure-comparison__img {
  max-width: 1080px;
  margin: 0 auto;
}
.dezakure-comparison__text-wrap {
  max-width: 1080px;
  margin: 20px auto 0;
}
.dezakure-comparison__text {
  text-align: right;
  font-size: 14px;
}
@media (max-width: 600px) {
  .dezakure-comparison__text {
    text-align: left;
    font-size: 12px;
  }
}
.dezakure-price__box {
  display: flex;
  justify-content: center;
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 820px) {
  .dezakure-price__box {
    flex-direction: column;
    align-items: center;
  }
}
.dezakure-price__table {
  border: 2px solid #bcbcbc;
  border-collapse: collapse;
  text-align: center;
}
.dezakure-price__td {
  border: 2px solid #bcbcbc;
  border-collapse: collapse;
  padding: 8px;
}
@media (max-width: 600px) {
  .dezakure-price__td {
    padding: 4px;
  }
}
.dezakure-price__th {
  border: 2px solid #bcbcbc;
  border-collapse: collapse;
  background-color: #aad3e4;
  color: #fff;
  font-size: 26px;
  padding: 8px;
}
.dezakure-price__th--s {
  background-color: #2683d6;
}
.dezakure-price__th--p {
  background-color: #07589e;
}
.dezakure-price__text-wrap {
  max-width: 1080px;
  margin: 16px auto 60px;
}
.dezakure-price__text {
  text-align: right;
  font-size: 14px;
}
@media (max-width: 600px) {
  .dezakure-price__text {
    text-align: left;
    font-size: 12px;
  }
}
.dezakure-voice {
  background-color: #c1d1db;
}
.dezakure-voice__ttl {
  margin: 0 0 48px;
}
.dezakure-voice__item {
  max-width: 800px;
  margin: 0 auto 40px;
  background-color: #fff;
  border-radius: 30px;
  padding: 16px;
}
.dezakure-voice__item-inner {
  display: flex;
  gap: 40px;
  align-items: center;
}
.dezakure-voice__item-img img {
  width: 180px;
}
@media (max-width: 820px) {
  .dezakure-voice__item-img img {
    width: 100px;
  }
}/*# sourceMappingURL=style.css.map */