@use "config";
@use "subpage";

@mixin sp {
  @media (max-width:(600px)) {
    @content;
  }
}

@mixin tab {
  @media (max-width:(820px)) {
    @content;
  }
}

@mixin pc {
  @media (max-width:(1120px)) {
    @content;
  }
}




/* =================================
header
 ================================= */

.wrap-header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  transition: transform 0.3s;

  &.is-hide {
    transform: translateY(-100%);
  }

}

.header {
  background-color: #fff;
  position: fixed;


  @include tab {
    border-bottom: 1px #8a8a8a solid;

  }

  &__breadcrumb {
    font-size: 12px;
    max-width: 1200px;
    margin: 0 auto;
    color: #777777;
    position: absolute;
    bottom: -28px;
    left: 10%;
    transform: translateX(-50%);

    @include tab {
      left: 12px;
      transform: translateX(0);

    }
  }

  &__inner {
    padding: 20px 60px 20px;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1350px) {
      padding: 16px 8px 16px;
    }






    @include sp {
      padding: 4px 8px;
    }
  }

  &__ttl {
    max-width: 280px;

    @media screen and (max-width: 1550px) {
      width: 260px;
    }

    @media screen and (max-width: 1250px) {
      width: 220px;
    }

    @include tab {
      max-width: 180px;

    }
  }

  &__nav-list {

    max-width: 900px;
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;

    @include pc {
      position: initial;
      transform: translate(0, 0);

    }


    @include tab {
      display: none;
    }

  }

  &__nav-item {
    text-align: center;
    width: 120px;

    @media screen and (max-width: 1250px) {
      width: 108px;
    }
  }

  &__nav-link {
    position: relative;
    display: block;
    font-size: 18px;
    letter-spacing: 0.02em;
    padding: 4px 0 4px 0.5em;
    line-height: 13px;
  }

  &__open-btn {
    position: relative;
    z-index: 999;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: none;

    @include tab {
      display: block;
    }

    span {
      display: inline-block;
      transition: all 0.4s;
      /*アニメーションの設定*/
      position: absolute;
      left: 11px;
      height: 2px;
      border-radius: 5px;
      background: #000;
      width: 65%;

      &:nth-of-type(1) {
        top: 13px;
      }

      &:nth-of-type(2) {
        top: 23px;
      }

      &:nth-of-type(3) {
        top: 33px;
      }

    }

    /*.active が付与された時の挙動*/
    &.active span:nth-of-type(1) {
      top: 14px;
      left: 18px;
      transform: translateY(6px) rotate(-45deg);
      width: 60%;
    }

    &.active.active span:nth-of-type(2) {
      opacity: 0;
    }

    &.active span:nth-of-type(3) {
      top: 26px;
      left: 18px;
      transform: translateY(-6px) rotate(45deg);
      width: 60%;
    }

    &.active span:nth-of-type(3)::after {
      display: none;
    }
  }
}



.header-sp {
  position: fixed;
  z-index: 99;
  top: 0;
  right: -120%;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  transition: all 0.6s;

  &.open-menu {
    right: 0;
  }

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  &__time {
    text-align: center;
    margin: 0 0 40px;
  }

  &__nav-list {
    margin: 0 0 40px;
  }

  &__nav-item {
    margin: 0 0 24px;
  }
}


/* =================================
footer
 ================================= */

.footer {
  background-color: #e0e0e0;
  padding: 40px 8px 0;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 940px;
    margin: 0 auto 40px;
    position: relative;


    @include tab {
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 0 0 32px;
    }
  }

  &__ttl {
    max-width: 300px;
   
  }

  &__logo {
    display: block;
    margin: 0 0 24px;

    @include sp {
      margin: 0 0 12px;
    }
  }

  &__tel {
    display: block;
  }

  &__tel-span {
    font-size: 12px;
  }

  &__address {
    font-size: 12px;
    display: block;


  }

  &__menu {
    display: flex;
    gap: 12px;

    @include pc {
      flex-direction: column;
    }
  }

  &__sns {
    display: flex;
    gap: 12px;
    padding: 6px 48px 0;

    @include tab {
      padding: 6px 24px 0;
    }

  }

  &__sns-item {
    width: 18px;
  }

  &__nev {
    display: flex;
    justify-content: center;
    margin: 0 0 24px;

    @include pc {
      margin: 12px 0 24px;
    }

    @include tab {
      flex-wrap: wrap;
    }
  }

  &__nav-item {
    border-left: 1px solid #333;
    padding: 0 16px;
    line-height: 18px;
    font-size: 13px;

    @include pc {
      padding: 0 8px;
    }

    @include tab {
      margin: 0 0 6px;
    }

    &:last-child {
      border-right: 1px solid #333;

      @include sp {
        border: none;
      }
    }

    @include sp {
      border: none;
    }
  }

  &__bottom {
    border-top: 1px solid #777777;
    padding: 12px 0;

    @include tab {
      padding: 12px 0 90px;
    }

    @include sp {
      padding: 12px 0 60px;
    }

  }

  &__coppy {
    text-align: center;
    font-size: 12px;
  }


  &__sp-menu {
    display: none;

    @include tab {
      display: flex;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
    }

    a:hover {
      opacity: 1;
    }

  }


  // スクロールボタン
  &__scroll-btn {
    cursor: pointer;
    position: fixed;
    bottom: 4px;
    right: 4px;
    display: inline-block;
    background-color: rgba(238, 238, 238, 0.692);
    padding: 8px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;

    i {
      font-size: 24px;
      color: rgb(109, 108, 108);
      display: inline-block;
      line-height: 20px;

    }

    @include tab {
      display: none;
    }

  }
}

/* =================================
page-top
 ================================= */

.page-top {

  &__section {
    padding: 80px 12px;

    @include tab {
      padding: 40px 12px;
    }
  }

  &__section-ttl {
    font-family: "Arsenal-Regular", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
    text-align: center;
    font-size: clamp(1.625rem, 1.398rem + 1.14vw, 2.25rem);
    letter-spacing: 0.01em;
    margin: 0 0 12px;
    line-height: 1;
    color: #9fa0a0;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);

    &--concept {
      color: #41809a;
    }

    &--menu {
      color: #b17f8c;
    }

    &--access {
      color: #a9917b;
    }
  }

  &__section-subttl {
    text-align: center;
    margin: 0 0 80px;

    @include tab {
      margin: 0 0 40px;
    }

  }


}

/* =================================
main-visual
 ================================= */

.main-visual {

  &__img {
    max-width: 580px;
    margin: 80px auto;
    padding: 0 24px;

    @include tab {
      margin: 40px auto;
      max-width: 280px;
    }
  }
}



/* =================================
top-concept
 ================================= */

.top-concept {
  background-color: #c1d1db;


  &__text {
    text-align: center;


    @include tab {
      text-align: left;
    }
  }
}

/* =================================
top-order
 ================================= */

.top-order {

  &__box {
    display: flex;
    gap: 80px;
    max-width: 1200px;
    margin: 0 auto;

    @include pc {
      gap: 40px;
    }

    @include tab {
      flex-direction: column;
      align-items: center;
      gap: 60px;
    }
  }

  &__item {
    width: calc(33.33% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;

    @include pc {
      width: calc(33.33% - 20px);
    }

    @include tab {
      width: 100%;
    }
  }

  &__number {
    background: #9fa0a0;
    height: 72px;
    width: 72px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    margin: 0 0 12px;
  }

  &__number-inner {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 72px;
    text-align: center;
  }

  &__number-span {
    font-size: 26px;
    line-height: 1;

  }

  &__item-ttl {
    font-size: 22px;

    @include pc {
      font-size: 18px;

    }
  }

  &__img-wrap {
    position: relative;
    height: 280px;

    @include tab {
      height: 232px;

    }
  }

  &__img {
    width: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &--2 {
      width: 160px;
    }

    &--3 {
      width: 220px;
    }
  }

  &__text {
    max-width: 320px;
  }

  &__ {}
}

/* =================================
top-menu
 ================================= */

.top-menu {
  background-color: #e7d7df;

  &__box {
    display: flex;
    max-width: 1080px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin: 0 auto 40px;


    @include tab {
      gap: 20px;
      justify-content: space-around;


    }
  }

  &__item {
    width: calc(100%/3 - 40px);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    margin: 0 0 40px;

    @include tab {
      width: calc(100%/2 - 40px);
      margin: 0 0 24px;
      gap: 12px;
    }
  }

  &__img {
    max-width: 220px;
  }

  &__ttl {}

  &__subttl {
    text-align: center;
    font-size: 20px;
    line-height: 1;

    @include sp {
      font-size: 16px;
    }
  }

  &__span {
    display: block;
    font-family: "Arsenal-Regular", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
    font-size: 16px;
    margin: 8px 0 0;

    @include sp {
      font-size: 14px;
    }

  }
}

/* =================================
top-works
 ================================= */

.top-works {

  &__box {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 60px;
    margin: 0 auto 60px;

    @include tab {
      flex-direction: column;
      align-items: center;
      gap: 24px;

    }
  }

  &__left {
    width: 40%;
    overflow: hidden;
    min-width: 340px;

    @include tab {
      width: 100%;
      max-width: 400px;
      min-width: auto;

    }
  }

  &__img-wrap {
    overflow: hidden;
  }

  &__img {
    object-fit: cover;
  }

  &__subttl {
    text-align: center;
    font-size: 20px;
    margin: 0 0 40px;
  }

  &__right {

    @include tab {
      width: 100%;
    }
  }

  &__content {
    margin: 0 0 40px;
  }

  &__right-btn {
    display: block;
    width: 160px;
    margin: 0 0 0 auto;
    border: 1px solid #9fa0a0;
    text-align: center;
    padding: 8px;
    font-size: 13px;

    @include tab {
      margin: 0 auto;
    }
  }

  &__ {}

  &__ {}

  &__ {}

}

/* =================================
top-access
 ================================= */

.top-access {
  background-color: #dac7be;


  &__map-wrap {
    max-width: 980px;
    margin: 0 auto 40px;
  }

  &__map {
    width: 100%;
    height: 0;
    position: relative;
    padding-top: 66.25%;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    text-align: center;
    line-height: 2;

    @include tab {
      text-align: left;
      max-width: 300px;
      margin: 0 auto;
    }
  }

  &__span {
    @include tab {
      display: none;
    }
  }

  &__ {}
}

/* =================================
top-contact
 ================================= */

.top-contact {


  &__text {
    text-align: center;
    margin: 0 0 40px;
  }
}


/* =================================
実績　詳細
 ================================= */

.single-works {

  &__section {
    margin: 60px 0 80px;
    padding: 0 12px;

    @include tab{
      margin: 0 0 60px;

    }
  }

  &__ttl {
    font-size: 28px;
    font-weight: 600;
    padding: 0 0 4px;
    margin: 0 0 12px;
    text-align: center;

    @include sp {
      font-size: 20px;
      margin: 0 0 12px 0;
    }
  }

  &__cat {
    text-align: center;
    margin: 0 0 60px;

    @include sp {
      margin: 0 0 40px;
    }

  }

  &__cat-span {
    display: inline-block;
    background-color: #41809a;
    color: #fff;
    padding: 0 8px;
    font-size: 16px;

    @include sp{
    font-size: 13px;
    }
  }

  &__top-wrap {
    display: flex;
    gap: 40px;
    max-width: 1400px;
    margin: 0 auto 80px;

    @include tab {
      flex-direction: column;
      margin: 0 auto 24px;

    }
  }



  &__left {
    width: 50%;


    @include tab {
      order: 1;
      width: 100%;
    }

    .slick-dots {


      li {
        width: 4px;
      }
    }

    .slick-prev {
      left: -18px;
      z-index: 10;

      @include sp {
        display: none;
      }
    }

    .slick-next {
      z-index: 10;
      right: -5px;

      @include sp {
        display: none;
      }
    }
  }

  &__left-img {
    overflow: hidden;

  }

  &__right {

    width: 50%;
    @include tab {
      width: 100%;
      margin: 0 0 16px;
    }
  }

  &__bottom-wrap {
    display: flex;
    gap: 12px;
    max-width: 1200px;
    margin: 0 auto 80px;

    @include tab {
      flex-wrap: wrap;
      gap: 16px;
      margin: 0 auto 40px;


    }
  }

  &__bottom-img {
    cursor: pointer;
    width: calc(25% - 8px);
    max-height: 180px;
    overflow: hidden;

    @include sp{
      max-height: 150px;
    }

    @include tab {
      width: calc(50% - 8px);
      margin: 0 0 16px;
    }

    img {
      opacity: 0.5;
      object-fit: cover;
    }

    &.current {
      img {
        opacity: 1;

      }
    }
  }
}


/* =================================

 ================================= */

.aaa {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================

 ================================= */

.aaa {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}